export(as.proseq, opt.Rdnaml, print.proseq, Rcontml, Rconsense, Rcontrast)
export(Rdnadist, Rdnaml, Rdnamlk, Rdnapars, Rdnapenny, read.protein, Rneighbor)
export(Rthreshml, Rtreedist, setupOSX)

S3method(print, proseq)

